<div class="container-sm m-4">
  <h1>Stupid Coaching</h1>

  <div class="question">
    <p>
      <%=params[:question]%><br />
      <em>-You</em>
    </p>
  </div>

  <div class="question answer">
    <p>
      <%=@answer%><br />
      <em>-Your Coach</em>
    </p>
  </div>

  <p>
    <a href="ask">Ask a new question</a>
  </p>
</div>
